:root {
    --md-primary-fg-color: #ED1C24;
    --md-accent-fg-color: #707073;
}

img {
    height: auto;
    width: auto;
    border: 1px solid #9f9f9f;
    transition: transform ease-in-out 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* custom-styles.css */
.md-typeset pre > code {
    max-height: 20rem;
}